.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header a {
  color: var(--sec);
  transition: color 0.2s ease;
}

.App-header a:hover {
  color: var(--sec-hover);
}
