:root {
  --main: #191919;
  --sec: #1DB954;
  --sec-hover: rgb(34, 138, 71);
}

body,
.container {
  height: 100vh;
  background-color: var(--main);
  color: white;
}

#login,
#loggedin {
  display: none;
  text-align: center;
}

#login h1 {
  margin-bottom: 16px;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.container.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-spotify {
  background-color: var(--sec);
  color: rgba(255, 255, 255, .9);
  transition: background-color 0.2s ease;
}

.btn-spotify:hover {
  background-color: var(--sec-hover);
  color: white;
}
