.artists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.genres {
  list-style: none;
  padding: 0;
}

.artist-name {
  color: white;
  transition: color .25s ease;
}

.artist-name:hover {
  color: rgba(255, 255, 255, .5);
}

/* Mobile */
@media only screen and (min-width: 320px) {
  .artists {
    grid-template-columns: 1fr;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .artists {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .artists {
    grid-template-columns: repeat(4, 1fr);
  }
}
