.artists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.genres {
  list-style: none;
  padding: 0;
}

.artist-name {
  color: white;
  transition: font-weight .25s ease;
}

.artist-name:hover {
  font-weight: bold;
}
