.playlist-container {
  margin: 0 auto;
}

.playlists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playlist h4 {
  min-height: 40px
}

.playlist {
  margin-right: 24px;
  max-width: 300px;
}

.playlist-owner {
  color: rgba(255, 255, 255, .5);
  transition: color 0.2s ease;
}

.playlist-owner:hover {
  color: rgba(255, 255, 255, .9);
}
