.avatar {
  width: 240px;
  height: 300px;
  border-radius: 10px;
  border: 10px solid transparent;
  transition: border .3s linear;
}

.avatar:hover {
  border: 10px solid var(--sec);
}

.profile-link {
  color: rgba(255, 255, 255, .5);
  font-size: 20px;
  transition: color 0.2s ease;
}

.profile-link:hover {
  color: rgba(255, 255, 255, .9);
}

.profile-header {
  display: flex;
  justify-content: center;
  height: 320px;
}

.profile-subheader {
  text-align: left;
  margin-left: 24px;
}

.profile-subheader h1 {
  margin-top: 0;
}
